{% extends "base.html" %}

{% block title %} {{ recipe.name|capitalize }} {% endblock %}


{% block content %}

{% let thumbnail = recipe.thumbnail.as_deref().unwrap_or("default.jpg") %}

<main>
    <header class="flex h-56  bg-indigo-100 border-b border-indigo-300 gap-10 p-4 mb-4 items-center">
        <div class="group relative h-[calc(100%_-_1rem)] flex ">
            <img class="h-full" src="/images/{{ thumbnail }}" alt="{{ recipe.name }}'s thumbnail">
            <div class="invisible group-hover:visible z-50 w-full h-full absolute top-0 left-0 bg-black bg-opacity-40 flex justify-center">
                <button >
                    {% call edit_icon(class="w-auto h-14 stroke-white") %}
                </button>
            </div>
        </div>
        <h1 class="group text-7xl hover:bg-indigo-200 p-4 rounded-md">
            <span>{{ recipe.name|capitalize }}</span>
            <button 
                hx-get="/recipe/{{ recipe.name }}/name" 
                hx-target="closest h1"
                hx-swap="outerHTML"
                class="invisible group-hover:visible"
                >
                {% call edit_icon(class="w-auto h-14 stroke-black") %}
            </button>
        </h1>
    </header>

    <section class="group h-14 w-fit gap-4 flex p-2 ml-4 mb-4 hover:bg-gray-50">
        <svg id="Layer_1" class="h-5/6" style="enable-background:new 0 0 24 24;" version="1.1" viewBox="0 0 24 24" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <style type="text/css">.st0{fill:#1E232D;}</style>
            <path class="st0" d="M18.7,11l4.9-4.7L22.4,5l-6.7,6H18.7z M19.8,2.1l-1.6-0.9L11.6,11H14L19.8,2.1z M0,13l0.1,0.6  c0.4,4.3,3.1,8.3,7,10L7.2,24h9.6l0.2-0.6c3.9-1.8,6.6-5.3,7-9.5L24,13H0z M16.3,22H7.7c-2.8-1-4.8-4-5.4-7h19.6  C21.2,18,19.1,21,16.3,22z"/>
        </svg>
        <span class="text-4xl">
            {{ recipe.rations }}
        </span>
        <button class="invisible group-hover:visible">
            {% call edit_icon(class="w-auto h-5/6 stroke-black") %}
        </button>
    </section>

    <div class="flex">
        <section class="flex w-80 flex-col ml-4">
            <h2 class="text-3xl pb-4">Ingredientes</h2>
            <ul>
                {% for ingredient in recipe.ingredients %}
                    <li class="group gap-4 flex p-2 pl-0 rounded-md hover:bg-gray-50">
                        <h3 class="text-xl">{{ ingredient.ingredient_name|capitalize }}</h3>
                        <span class="ml-auto">
                            {{ ingredient.quantity }}
                            {% call units(ingredient.unit) %}
                        </span>
                        <button class="invisible group-hover:visible">
                            {% call edit_icon(class="w-auto h-5/6 stroke-black") %}
                        </button>
                    </li>
                {% endfor %}
            </ul>
        </section>
        <section class="flex flex-col border-l pl-4">
            <h2 class="text-3xl pb-4">Pasos</h2>
        </section>
    <div>

</main>

{% endblock %}

{% macro edit_icon(class) %}
<svg class="{{class}}" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
        <path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"/><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"/>
</svg>
{% endmacro %}

{% macro units(unit) %}
    {% match unit %}
        {% when Grams %}
            g
        {% when Liters %}
            l
        {% when Units %}
            unds
    {% endmatch %}
{% endmacro %}
