<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        <link href="assets/style.css" rel="stylesheet">
        <script src="https://unpkg.com/htmx.org/dist/htmx.js"></script>
        <script type="module" src="assets/bundle.js"></script>
    </head>
    <body hx-boost="true">
        {% block content %}
        {% endblock %}
    </body>
</html>
