{% macro input_template() %}

<template id="ingredient-input-template">
    <link href="/assets/style.css" rel="stylesheet">

    <div class="py-4 relative sm:max-w-md">
        <div class="flex flex-row gap-3">
            <div class="w-5/6 flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
                <button id="selected" class="h-6 w-full"></button>
            </div>
            <div class="w-1/6 rounded-md shadow-sm ring-1 text-center text-white bg-red-500 ring-inset ring-red-600 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
                <button id="delete" class="h-6 ">Borrar</button>
            </div>
        </div>

        <menu id="menu" class="hidden z-50 bg-white absolute rounded-md shadow-xl p-2 mt-2 ring-1 ring-inset ring-gray-300">
            <div class="mt-2">
                <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
                  <input id="filter" type="text" placeholder="Buscar..." class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6"/>
                </div>
            </div>

            <div class="mt-2">
                <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
                    <button id="create-ingredient" class="h-6 w-full bg-indigo-600 text-white rounded-md shadow-sm">Crear ingrediente</button>
                </div>
            </div>

            <hr class="mt-2 h-2 bg-grey-500">

            <div tabindex="0" id="ingredients-select" class="flex flex-col divide-y overflow-auto max-h-32"></div>
        </menu>

        <div class="sm:col-span-4 grid grid-cols-6 auto-rows-min gap-x-2">
            <label for="ingredient-quantity" class="col-span-4 row-start-1 h-6 text-xs font-medium leading-6 text-gray-900">Cantidad del ingrediente</label>
            <div class="col-span-4 row-start-2 self-end">
                <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
                  <input type="number" value="1" name="ingredient-quantity" id="ingredient-quantity" required class="h-7 block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6">
                </div>
            </div>
            <label for="ingredient-unit" class="col-span-2 row-start-1 h-6 text-xs font-medium leading-6 text-gray-900">Unidades</label>
            <select id="ingredient-units" selected="Gramos" class="self-end col-span-2 row-start-2 h-7 p-0 ring-1 ring-inset ring-gray-300 pl-1 border-0 rounded-md shadow-sm focus-within:ring-2 focus-within:ring-indigo-600 ">
                <option value="Grams">Gramos</option>
                <option value="Units">Unidades</option>
            </select>
        </div>
    </div>
</template>

{% endmacro %}

{% macro ingredients_template(ingredients) %}

<div id="ingredients-template" class="hidden" hx-get="/recipe/ingredient" hx-swap="outerHTML" hx-trigger="newIngredient from:body" hx-on::after-settle="updateIngredientInputs()">
    {% for ingredient in ingredients %}
        <div>
            <button class="group w-full h-full rounded-md text-left pl-1  hover:text-white hover:bg-indigo-200 [&.selected]:text-white [&.selected]:bg-indigo-400">
                {{ ingredient.name }}
                <svg class="hidden float-end ml-auto mr-2 group-[.selected]:inline stroke-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="1.5rem" height="1.5rem" fill="none" stroke="black" stroke-width="2">
                  <path d="M5 13l4 4L19 7"></path>
                </svg>
            </button>
        </div>
    {% endfor %}
</div>

{% endmacro %}
